<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninthsemester.notifications">

    <uses-permission android:name="android.permission.VIBRATE" />
    <application>
        <receiver android:name=".NotificationPublisher">
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
